.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    $light-text-color: color-mix(in srgb, var(--text-color) 15%, transparent);

    background: $light-text-color;
    border-radius: 12px;
    padding: 1.5rem;
    transition: transform 0.2s ease,
    background 0.2s ease;
    height: 100%;

    &.clickable {
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-4px);
        background: color-mix(in srgb, var(--text-color) 30%, transparent);
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__icon {
        font-size: 1.5rem;

        button {
            background: var(--text-color);
            color: var(--background-color);

            display: inline-flex;
            align-items: center;
            justify-content: center;

            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;

            svg {
                height: 1.5rem;
                width: 1.5rem;

                margin-right: 0.25rem;
            }
        }
    }

    &__title {
        font-family: "Mondwest", monospace;
        font-size: 1.25rem;
        margin: 0;
    }

    &__description {
        color: var(--text-color);
        line-height: 1.125;
        font-size: 1rem;
        margin-bottom: 1rem;

        // balance the text
        text-align: justify;
        text-justify: inter-word;
        text-align-last: left;
        text-wrap: balance;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        &__item {
            display: inline-flex;

        }
    }

}
